body {
  background: #eee;
  text-align: center;
}

.game-container {
  
  text-align: center;
}

.board {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 480px;
  height: 480px;
  margin: auto;
  flex-wrap: wrap;
}

.board-cell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  border: 1px solid rgb(161, 157, 151);
  border-radius: 5px;
}

.target-img {
  width: 100%;
}